<% _.forEach(modelAttributeNames, function (name) { %>
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="ERBstart <%= modelControllerName %>.<%= name %> ERBend" name="<%= name %>" type="text" class="form-control"/>
	</div>
<% }) %>